
{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

{% else %}

<a href="{% url 'login' %}">Login</a>

{% endif %}


<hr>
<h1>My Todo List</h1>
<a href="{% url 'task-create' %}">Add Task</a>

<table>
    <tr>
        <th>Task</th>
        <th> </th>
        <th> </th>
    </tr>
    {% for todo in todos %}
    <tr>
        <td>{{ todo.title }}</td>
        <td><a href="{% url 'todo_detail' todo.id %}">View</a></td>
        <td><a href="{% url 'task-update' todo.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' todo.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No todos found.</td>
    {% endfor %}
</table>